.container{
    margin-top: 20px;
    padding: 20px;
}

h1{
    color: rgb(45, 170, 20);
    
}

label{
    color: rgb(220, 81, 116);
    
    
}

 .input{
    color: rgb(45, 170, 20);
    font-weight: bold;
 }

 .button{
    color: white;
 }
