<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Camelot Wheel</h1>

      <div>
        <label for="input">Chiave armonica in stile anglosassone</label><br>
        <input type="text" (input)="inputKey($event)">
      </div>

      <div class="field">
        <div class="control">
          <label for="input">Scala</label><br>
          <input type="radio" name="scale" value="maior" (change)="scale($any($event.target).value)"/> Maggiore<br>
          <input type="radio" name="scale" value="minor" (change)="scale($any($event.target).value)"/> Minore
        </div>
        <div class="control">
          <label for="input">Tono</label><br>
          <input type="radio" name="tone" value="sharp" /> #<br>
          <input type="radio" name="tone" value="flat" /> ♭
        </div>
      </div>

    </div>
  </div>
</div>